.product-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 640px;
  flex-grow: 1;
  padding-right: 1em;
}
